@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadow-card {
  box-shadow: 0px 0px 39px 18px hsla(31, 18%, 75%, 0.28);
  padding: 1rem;
  border-radius: 2rem;
}